<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ia.android.akinasport">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_loader"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".activity.ParentActivity"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".activity.LoaderActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
